.app-header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__brand {
        color: #ffffff;
        margin: 0;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (max-width: 600px) {
    .app-header {
        display: block;

        &__brand {
            text-align: center;
        }
    }
}
